.card {
    width: 200px;
    background-color: rgb(253, 228, 219);
    padding: 20px;
    border: 2px solid coral;
    text-align: center;
    border-radius: 4px;
}

.card div {
    font-size: 80px;
}


.card a {
    width: 100px;
    background-color: coral;
    color: white;
    padding: 15px;
    border: 1px;
    border-radius: 2px;
}

.card a:hover {
    color: coral;
    background-color: rgb(253, 228, 219);
    border: 2px solid coral;
}

.card a:active {
    color: white;
    background-color: red;
}

.card p:hover::after {
    content:" now $29";
    color: red;
}

.card::before {
    content: "SALE";
    width: 20px;
    color: white;
    background-color: red;
    padding: 10px;
    border: 5px;
    border-radius: 120px;

}

/* Add your CSS styles below this line */

